body {
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none !important;
    color: black !important;
    
}

.header{
    padding: 15px 0px;
}
.menu {
    display: flex;
    list-style: none;
    justify-content: center;
}
.menu a:hover{
    color: red !important;
}
.menu-right i:hover{
    transform: scale(1.1);
    color: red;
}

.menu-item {
    margin: 0px 25px;
}

.menu-right {
    display: flex;
    list-style: none;
    justify-content: end;
}
.mn-item{
    margin: 0px 8px;
}
/* product */
.p-wrap{
    text-align: center;
    margin-top: 15px;
}
.p-img{
    width: 100%;
}
.img-slide{
    width: 100%;
    
}
.q-warp {
    text-align: center;
    margin-top: 15px;
}
.q-img{
    width: 100%;
}
.section{
    padding: 5% 10%;
}
.main-text{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
