body {
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none !important;
    color: black !important;
    
}

.header{
    padding: 15px 0px;
}
.menu {
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu-item {
    margin: 0px 25px;
}

.menu-right {
    display: flex;
    list-style: none;
    justify-content: end;
}
.mn-item{
    margin: 0px 8px;
}
/* product */
.p-wrap{
    text-align: center;
    margin-top: 15px;
}
.p-img{
    width: 100%;
}

.Store{
    font-size: 40px;
}
.img-slide{
    width: 100%;
    
}
.title{
    display: flex;
}
