body {
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none !important;
    color: black !important;
    
}

.header{
    padding: 15px 0px;
    position: fixed;
    top: 0; left: 0; right: 0;
    background: rgb(250, 250, 250);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow:  var(--box-shadow);
}
.menu {
    display: flex;
    list-style: none;
    justify-content: center;
}
.menu a:hover{
    color: red !important;
}
.menu-right i:hover{
    transform: scale(1.1);
    color: red;
}
.row h4{
    margin-top: 50px;
    font-size: 30px;
}

.menu-item {
    margin: 0px 25px;
}

.menu-right {
    display: flex;
    list-style: none;
    justify-content: end;
}
.mn-item{
    margin: 0px 8px;
}
/* product */

.hot .row{
    margin-top: 50px;
}

.p-wrap{
    text-align: center;
    margin-top: 30px;
}
.hot-sale .p-img{
    border-radius: 10px;
}
.p-img{
    width: 100%;
}
.img-slide{
    width: 100%;
    
}
.q-warp {
    text-align: center;
    margin-top: 15px;
}
.hot .q-img{
    border-radius: 10px;
}
.hot .col-md-6{
    border-radius: 10px;
}
.btn-button:hover{
    background-color:rgb(83, 130, 218) ;
}
.btn-button{
    font-weight: 500;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    position: absolute;
    margin-top: 160px;
    margin-left: 30px;
}
.q-name{
    position: absolute;
    margin-top: 100px;
    margin-left: 30px;
}
.q-warp img{
    position: relative;
}
.q-img{
    width: 100%;
}
.section{
    padding: 5% 10%;
}
.main-text {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
.main-home{
    margin-top: 75px;
    border-radius: 5%;
    margin-left: 80px;
    background: rgb(244, 244, 244); width: 90%;
}
.btn-view{
    margin-top: 50px;
    text-align: center;
}
.btn-view .btn-size{
    width: 120px;
    height: 40px;   
    background-color: rgb(69, 122, 220);
    border-radius: 5px;
    transition: 0.3s;
    color: white;
    font-weight: 700;
}
.btn-size:hover{
    background-color: white;
    color: black;
}
.main-btn{
    width: 125px;
    height: 40px;
    border-radius: 5px;
    background-color:rgb(69, 122, 220) ;
    transition: 0.3s;
    color: white;
    font-weight: 700;
}
.main-btn:hover{
    background-color: white;
    color: black;
}
/* begin best-offer */
.best {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
.best-offer{
    margin-top: 75px;
    margin-left: 80px;
    background: rgb(244, 244, 244); width: 90%;
}
.best .put{
    margin-top: 20px;
    width: 160px;
    height: 40px;
    margin-left: 150px;
}
.best h2{
    margin-left: 50px;
    font-size: 40px;
}
.put{
    background-color:rgb(69, 122, 220) ;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.put:hover{
    background-color: white;
    color: black;
}
.btn-viewer{
    text-align: center;
    margin-top: 100px;
}
.btn-views{
    text-align: center;
    margin-top: 50px;
}
/* end best-offer */
/* begin featured-collection */
.featured-collection{
    margin-top: 50px;
}
.featured-collection .p-img{
    border-radius: 10px;
}
/* end featured-collection */
.new-arrivals{
    margin-top: 50px;
}
/* begin lates blog */
.lates-blog {
    margin-top: 50px;
}
.o-wrap i{
    margin-top: 20px;
}
.o-wrap .re-name{
    margin-top: 20px;
}
.lates-blog a{
    margin-top: 20px;
    color: rgb(53, 83, 254);
    font-weight: 600;
}



